@model lab26_combineall_.Models.Profile
@addTagHelper*, Microsoft.AspNetCore.TagHelpers
<form asp-action="Index5">
    <label asp-for="Name">Name: </label>
    <input type="text" asp-for="Name" /> 
    <input type="submit" value="ProvideQueryValue" />
</form>