@model lab26_combineall_.Models.Profile
@addTagHelper*, Microsoft.AspNetCore.TagHelpers
<form  asp-controller="Combine" asp-action="Index7">
    <input type=hidden name="hide" value="Secret Key"/>
    <input type= "submit" value="Show">
</form>