
@model DatabaseUsingMVC.Models.Student;
<h2>Update Interface</h2>
<form asp-controller="Student" asp-action="editform">
    <label asp-for="Id">Enter your id</label>
    <input asp-for="Id" /><br/><br/>
    <label asp-for="Name">Enter your name</label>
    <input type="text" asp-for="Name" /><br/><br/>
    <label asp-for="Address">Enter your Address</label>
    <input type="text" asp-for="Address" /><br/><br/>
    <label asp-for="PhoneNo">Enter your Phone Number</label>
    <input type="number" asp-for="PhoneNo" /><br/><br/>
    <input type="Submit" value="Okay" />
</form>